.calc-container{
    width: 290px;
    height: 300px;
    background-color: #ccc;
    margin:100px auto;
    padding: 10px;
    border-radius: 10px;
}
.display{
    width: 97%;
    height: 50px;
    margin: auto;
    background-color: rgba(27, 163, 163, 0.2);
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    text-align: start;
}
button{
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius:2px ;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.equal{
    width:173px ;
}
